global:
  scrape_interval: 10s

scrape_configs:
  - job_name: 'postgres-exporter'
    static_configs:
      - targets: ['postgres-exporter:9187']
        labels:
          instance: 'lab-postgresql'
          env: 'lab'
